/* CSS Document */

* {
    border-style: none;
    border-width: 0px;
    padding: 0;
    margin: 0;    
}
	 
BODY
{
	font-family: Verdana, Tahoma, Sans-serif;
	color: #000000;
	font-size: 0.75em;
}

H1, H2, H3, H4 
{
	color: #036;
	text-align:left;
	}

H2{	font-size:1.7em;	}	
H3{	font-size:1.4em;	}
H4{	font-size:1em;	}


#MainFrame
{
	margin: 1% auto 0 auto;
	width: 99%;		
}




/*****************************************/
/*		   ENCABEZADO DE LA PÁGINA		 *
/*****************************************/

/*#PNG-Header
{
	height:50px;
	width:50px;
	text-indent: -9999px;  
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/Logo.png', sizingMethod='crop');
	}
*/

#Banner {	
	background:#dae7f3 url(../Images/top_back.jpg) repeat-x top right;
	display:block;
	
	text-align:left;
	
	border-top: 2px solid #fcd067;
	border-left:#d3d3d3 1px solid;  
	border-right:#d3d3d3 1px solid;  
	border-bottom:2px solid #fcd067;
	
	height:97px;
}

#Title
{
	margin:0;
	position:relative;
	float:left;
	clear:none;
	width:65%;
	z-index:0;	
	}


#Title .Logo
{
	position:relative;
	float:left;	
	margin:0 2%;
	z-index:inherit;	
}

#Title H2, H3
{	
	color: #ffffff;
	z-index:inherit;
}

#Title H2
{
	margin-top:1em;
	}
	
	
#UserInfo
{
	margin:0;
	float:right;
	clear:none;
	width:34%;
	padding-top:7px;
	position:relative;
	z-index:10;

	text-align:right;
	font-size:smaller;
	font-weight:normal;
	color: #036;	
	}
#UserInfo a
{
	text-decoration:none;
	color: #ff9933; 
	font-weight:bold;
	}

/*****************************************/
/*	  BARRA DE NAVEGACIÓN Y MENÚ		 *
/*****************************************/


#NavBar
{
	height:20px;
	color:#ffffe1;
	font-weight:bolder;
	border-left:#d3d3d3 1px solid;  
	border-right:#d3d3d3 1px solid;  
	border-bottom:2px solid #fcd067;
	background-color:#93BADB;	
}
	
#NavBar .NavBarMenu
{		
	padding:0;
	font-size:0.95em;
	background-color:#93BADB;
	float:left;
	margin:2px auto 2px 2px;
	}	

 #NavBar a
{
	text-decoration:none;
	color:inherit;
	}
	
#NavBar a:visited{	color:#ffffe1;	}
	
.Noticias
{ 
 width:90%; 
 margin:0 10px ;
 float:right;
}

.Noticias h2
{
color:#ffffff;
}	

.Noticias P
{
 color:#036;
 text-align:justify; 
 font-size:0.9em;
 margin:4px auto;
 clear:both;
}

.Noticias IMG   
{
float:left;
display:inline;
margin-right:8px;
}


/*****************************************
/*	  		 CONTROLES
/*****************************************/

.Input
{
	text-decoration: none;
	color: #505050;
	font-weight: 600;
	font-size: 8pt;
	border: #d3d3d3 1px solid;
	padding: 3px;
	vertical-align: middle;	
	background-color: #f4f4f4; 
}

.Button
{
	font-weight:600;
	font-size: 8pt;	
	background-color:#f4f4f4;
	border:1px solid #d3d3d3;
	padding:2px;	
	color: #505050;
	text-decoration:none;
	}
	
.LinkButton
{
	
	}
	
.Labels
{
	text-decoration: none;
	color: #505050;
	font-weight: 600;
	font-size: 8pt;
	border:0 none;
	/*border: #d3d3d3 1px solid;*/
	padding: 3px;
	vertical-align: middle;	
	line-height:25px;
	}
	


/*****************************************
/*	  CONTENIDO DE LA PÁGINA			 *
/*****************************************/


/*** Diseño de la página de LOGIN *****/

#IndexContainer
{	
	width: 90%;
	margin:0 auto;	
	padding:0;
	height:380px;
	vertical-align:top;
}	


#InfoColumn
{
	text-align: justify;	
	border-top:#fcd067 1px solid;	
	
	float:left;
	position:relative;
	
	width: 50%;
	top:2%;
	left:2%;	
	
	z-index:1;
}
	
#InfoColumn h4
{
	margin:5px 5px 5px 0;
	}	
	
#InfoColumn p
{
		border-bottom:1px solid #fcd067;
		padding:4px 10px 10px 0;
	}

#LoginFormPlaceHolder
{
	margin:0 0 0 5%;	
	width:40%;
	
	float:right;
	position:relative;
	top:2%;
		
	z-index:1;
	}
	
.LoginForm
{	
	padding:5px;
	text-align:center;
	border:1px solid #f6eba5;
	background-color:#fefefe;
	/*font-size:smaller;*/
	}	

	
.LoginForm .Button
{
	/*background-color: #ffffff;	
	color: #93BADB;
	font-weight:600;
	font-size: 8pt;
	border:1px solid#d3d3d3 ;  
	padding:3px;*/
	}
		
.LoginForm .Encabezado
{
	font-family:Verdana, Tahoma, Sans-Serif;
	color: #036;
	font-weight:600;
	font-size:1.2em;
	}
	

.LoginForm a
{	
	text-decoration:none;
	font-size:8.7pt;
	border: none;
	background: none;
	color: #ff9933; 
	font-weight:bold;
	padding: 3px;
	text-align:right
}
	
	
#Imagen
{
	z-index:3;
	position:relative;
	float:right;
	margin-right:5%;
	}

/*** Bloque de contenido central ***/

.Icono
{	
	border:0;
	}


#Content
{
	text-align: center;
	padding: 5px 10px 2em 5px;
	background-color: #ffffee;
	border: #d3d3d3 1px solid;
	clear: both;
	font-size: 8.2pt; /*color: #036;*/
}
	
	
#Content H1, H2, H3, H4
{
	font-family:Verdana, Tahoma, Sans-Serif;
	color: #036;
	}
	

#Content h2
{
	font-weight:bold;
	font-size:1.6em;
	}	

#Content h3
{
	font-weight:bold;
	font-size:1.4em;
	}
	
#Content h4
{
	font-size:1em;	
}

#Content a 
{
	text-decoration:none;
	/*color:#ff9933;
	font-weight:bold;*/
	}

/* para los controles de INPUT, botones, listas, etc. */
#Content .Labels
{
	font-weight:bold;
	}


#Content .CheckBox
{
	/*font-size: 7.5pt;	*/
	border: #d3d3d3 1px solid;  	
	padding:0;
	}


/*** Controles de lista de datos como GRIDVIEWS ***/

#Content .Listados
{
    /*font-size: 7.5pt;*/
	margin: auto;
    line-height: 15pt;
    border: #d3d3d3 1px solid;
    background-color: #ffffff;
}

#Content .Listados a
{	
	text-decoration:none;
	/*font-size:8.7pt;*/
	border: none;
	background: none;
	color: #ff9933; 
	font-weight:bold;
	padding: 3px;
	text-align:right
}

#Content .Listados .Encabezado
{
	background-color: #fcd067;
	font-weight: bold;
	font-size:9pt;
	color: #ffffe1;	
}
	
#Content .Listados .Encabezado a
{
	color:#ffffe1;
	}
	
#Content .Listados .Altern
	{
    background-color: #B8D1E5;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
}
		
#Content .Listados .Empty
{
	color:#FFFFE1;
	background-color:#FCD067;
	}
	
	
/* Contenidos o formularios de página como: Títulos, Tablas etc. */	
	
#Content .Formulario
{
	margin:auto;	
	/*font-size: 7.8pt;	*/
	line-height: 15pt;
	/*border: #d3d3d3 1px solid;		
	
	/*background-color:#ffffff;
	/*border:1px solid #fcd067;*/
	}
	

#Content .Formulario 
{
	
	}
	
#Content .Formulario 
{
	background-color:	#fcd067;	
	/*color: #93BADB;   este es el azulito */
	color:#ffffe1;
	font-weight:600;
	/*font-size: 7.8pt;*/
	border: #d3d3d3 1px solid;  
	padding:2px;
	}	


#Content .Formulario .Fila
{
	/*background-color:#ffffff;
	/*border:1px solid #fcd067;*/
	}

#Content .Formulario .Encabezado
{	
	
	border-bottom:2px solid #fcd067;
	color: #024b86;
	/*color:#fcd067;*/
	line-height: 30pt;
	font-weight: bold;
	/*font-size:10pt;*/
}

#Content .Formulario .FilaImpar
{
	background-color:#ffffff;		
	}

#Content .Formulario .FilaPar
{
	background-color:#B8D1E5;	
	}
	
	
/* Menu de listados  */
	
.MenuIzq
{
	list-style-type: none;
	text-align:left;	
	text-decoration:none;	
	border-right:1px solid #fcd067;
}

.MenuIzq li
	{
		padding:5px;
		margin:5px;		
		}
		
.MenuIzq .titulo
{	
	font-weight:bold;
	}
		
	.MenuIzq .elemento:hover
		{
		border-bottom:2px solid #fcd067;
		font-weight:bold;	
			}
		
		
	.MenuIzq li a
		{
			color: #93BADB;
			}		
	


/****************************************
/*			PIE DE PÁGINA				*
/****************************************/

#Footer
{	
	color:#ffffe1;
	text-align: center;
	line-height:15px;
	font-size:0.87em;
	
	background-color:#93BADB;
/*	height:40px;*/
	margin:auto;
	padding:5px 0;	
	
	border-bottom:#d3d3d3 1px solid;  
	border-left:#d3d3d3 1px solid;  
	border-right:#d3d3d3 1px solid;  

	}
	
#Footer a
{
	text-decoration: none;
	color: #fcd067;
	font-weight:bolder;
}
	
#Footer a:hover
{
	text-decoration:underline;
	
	}

#Footer a:active
{
	color: #ffd700;
	}
	
#Footer a:visited
{
	color: #ffd700;
	}



#LeftFooter {
	
	float:left;
	text-align:left;
	margin-left:5px;
	padding-left:5px;
}

#RightFooter {	

	float:right;
	text-align:right;
	margin-right:5px;
	padding-right:5px;
}


#CajaTexto
{
    border: 1px solid #e0e0e0;
    background-color: #FFFFFF;        
    top:0;
}

#CajaTexto .Encabezado
{
    background-color: #93BADB;
    font-weight: bold;
    color: #ffffff;
}

#CajaTexto .Cuerpo
{
    padding:1px;
}

#CajaTexto .Pie
{    
    border-top:1px solid #e0e0e0;
    }
