<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Jefe" />
            <deny roles="Administrador" />
            <deny users="?" />
            <deny roles="Trabajador" />
        </authorization>
    </system.web>
</configuration>